<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thepost.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MagazineListActivity"
            android:label="@string/title_activity_magazine_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.MagazineActivity" /> <!-- Firebase Service Definition -->
        <service
            android:name=".firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_72" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorNotify" /> <!-- Rest of the Activities Definition -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ArticleView"
            android:label="Article View"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivacyActivity"
            android:label="Privacy Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="About Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FullImageActivity"
            android:label="Full Image View"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
    </application>

</manifest>